<% @posts.each do |post| %>
  <h1><a href="/read/<%= post.slug %>"><%= post.title %></a></h1>
  <p class="post-info">Escrito el: <%= post.created_at.to_s %>, Autor: <%= post.author %></p>
  <p><%= post.abstract %></p>
<% end %>